<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
  </head>
  <body>
        <div id="navbar">
            <h3 id="testapp"><a href="/register">Test App</a></h3>
            <h4 id="home"><a href="/register">Home</a></h4>
            <h4 id="signin"><a href="/signin">Sign in</a></h4>
        </div>

        <div id="form">
            <h3>Register</h3>
            <form action="/register/check" method='post'>
                Email Address:<input type="email" name="email"><br>
                First Name: <input type="text" name="first_name"><br>
                Last Name:<input type="text" name="last_name"><br>
                Password:<input type="password" name="password"><br>
                Password Confirm:<input type="password" name="cf_password"><br>
                <input type="submit" value="Register" id="signbutton">
            </form>
        {% with messages = get_flashed_messages(with_categories=True, category_filter=['register_errors']) %}
          {% if messages %}
                {% for category, message in messages %}
                  <div class="error">{{ message }}</div>
                {% endfor %}
          {% endif %}
        {% endwith %}
            <a href="/signin">Already have an account? Login</a>
        </div>

        
  </body>
</html>