<html>
  <head>

    <title>Date and Time</title>
    <style type="text/css">
    	#top{
    		border:1px solid black;
    		padding-bottom: 5px;
    		width:15%;
    		margin:2% 35% 1% 45%;
    		text-align:center;
    	}
    	#bottom{
    		border:1px solid black;
    		padding-bottom: 5px;
    		width:25%;
    		margin:0% 20% 1% 40%;
    		font-size:20px;
    		text-align: center;

    	}
    </style>
  </head>
  <body>
    <div id="top">
    	<p>The current time and date:</p>
    </div>
    <div id="bottom">
    	{{date}}
    	<br>
    	{{time}}
    </div>
  </body>
</html>
